html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
  color: #fff;
  font-size: 14px;
  background-color: lightblue;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;

  max-width: 960px;

  padding-right: 10px;
  padding-left: 10px;

  height: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e64c43;
}

a.logo {
  display: inline-block;
  margin-left: 15px;
  text-align: center;
  color: inherit;
  vertical-align: middle;
  text-decoration: none;
}

a.logo span {
  font-weight: 700;
}

.navbar-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-items a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  padding: 40px 15px;
}

.navbar-items a:hover {
  background-color: #f3665c;
}

.block1 {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.6);
}
.block1:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("../images/andreas-brucker-630339-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: 70% 50%;
  background-size: cover;
}

.boxer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.boxer .navbar {
  flex: 0 1 auto;
}

.boxer .texts {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.texts h1 {
  margin-bottom: 40px;
}

.texts p {
  text-align: center;
  margin-bottom: 80px;
}

.button {
  text-decoration: none;
  color: inherit;
  padding: 10px 40px;
  border: 1px solid  rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  text-transform: uppercase;
}

.button:hover {
  border: 1px solid  rgba(255, 255, 255, 1);
}

.button:active {
  background-color: rgba(255, 255, 255, 0.3)
}

h1 {
  font-weight: 200;
  font-size: 4em;
}

.block2 {
  box-sizing: border-box;
  width: 100%;
  height: 350px;
  background-color: rgba(255, 255, 255, 1);
}

.boxer2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card {
  width: 100%;
  height: 100px;
  padding-right: 10px;
}

.card .title {
  color: #000;
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.card .text {
  color: black;
  font-size: 1em;
  margin-bottom: 20px;
}

.card .title span {
  color: #e64c43;
}

.link-to {
  text-decoration: none;
  color: #e64c43;
  border-bottom: 1px solid #e64c43;
}

.link-to:visited {
  color: #f3665c;
  border-bottom: 1px solid #f3665c;
}

.block3 {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 400px;
  background-color: rgba(230, 76, 67, 0.65);
}

.block3:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url("../images/ben-o-bro-170472-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: 70% 50%;
  background-size: cover;
}
